/** @format */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.5;
}

:root {
	--primary-color: #eb5746;
	--secondary-color: #292c33;
	--white-color: #fff;
	--bg-color: #fafafa;
	--dark-bg: #1c1d20;
}

body {
	font-family: Lato, serif;
	background: var(--bg-color);
}

li {
	list-style-type: none;
}

.top-nav {
	background: var(--dark-bg);
	color: var(--white-color);
}
.social-icon {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	align-items: center;
	gap: 1.5rem;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
}

.hamburger {
	display: flex;
	flex-direction: column;
	gap: 4px;
	position: fixed;
	background-color: transparent;
	border: none;
	top: 1.5rem;
	left: 1.5rem;
	transform: translateY(-50%);
	z-index: 1;
}

.bar {
	width: 1.5rem;
	border: 2px solid var(--secondary-color);
	transition: 0.6s ease;
}
.main {
	background: url("./assets/bg/background.png") no-repeat;
	background-size: 100% 75vh;
}

.headline {
	padding: 5rem 1rem 1rem;
}

.headline-motto {
	color: var(--primary-color);
	font-size: 1rem;
}

.headline-title {
	color: var(--primary-color);
	font-size: 2rem;
	line-height: 1;
	font-weight: 900;
	text-transform: uppercase;
}

.headline-content {
	border: 1px solid var(--white-color);
	padding: 1rem;
	margin: 2rem 0;
	background: var(--bg-color);
}

.headline-skill {
	font-size: 1.2rem;
}

.tags {
	list-style-type: none;
	display: flex;
	margin: 0.75rem 0;
	gap: 0.5rem;
}

.tag {
	font-size: 1rem;
	color: var(--primary-color);
	padding: 0.5rem;
	border: 0.06rem solid var(--white-color);
}
.main-program {
	background: var(--dark-bg);
	color: var(--white-color);
	padding: 1.5rem 0;
}

.section-title {
	text-align: center;
}

.card {
	margin: 1rem;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	background: rgba(90, 90, 90, 0.25);
}

.card-img {
	width: 3rem;
	height: 3rem;
}

.card-title {
	color: var(--primary-color);
}

.card-content {
	font-size: 0.75rem;
}

.vector {
	display: block;
	margin: 5px auto 2rem;
}

.feature {
	padding: 1.5rem 1rem;
}

.feature-card {
	margin: 1rem 0 2rem 0.8rem;
	display: flex;
	justify-content: center;
	gap: 1rem;
	background: var(--bg-color);
}

.feature-img {
	position: relative;
}
.people-img {
	width: 6rem;
	height: 6rem;
}

.bg-people {
	width: 3rem;
	height: 3rem;
	position: absolute;
	top: -0.8rem;
	left: -0.8rem;
	z-index: -1;
}

.btn {
	border: 1px solid #d3d3d3;
	background: none;
	font-size: 1rem;
	width: 100%;
	padding: 0.5rem 0;
	text-align: center;
}

.more {
	width: 1rem;
}

@media (max-width: 768px) {
	.desktop {
		display: none;
	}
}

@media (min-width: 768px) {
	.mobile {
		display: none;
	}

	.nav-menu {
		display: flex;
		gap: 3rem;
		font-size: 1.2rem;
		align-items: center;
	}

	.nav-menu li:hover {
		color: var(--primary-color);
	}

	.active {
		padding: 0.3rem 1rem;
		color: var(--primary-color);
		border: 0.3rem solid var(--primary-color);
	}

	.header {
		position: fixed;
		width: 100%;
		background: var(--white-color);
	}

	.main {
		padding: 12rem 0 0;
	}

	.headline {
		padding: 10rem 0;
	}

	.container {
		max-width: 100rem;
		padding: 0.25rem 3rem;
		margin: 0 auto;
	}
	.main {
		background: url("./assets/bg/bkgrnd.png") no-repeat;
		background-size: 100%;
	}
	.headline-motto {
		font-size: 2rem;
		line-height: 2;
	}

	.headline-title {
		font-size: 5rem;
		width: 65%;
	}

	.headline-content {
		font-size: 1.5rem;
		width: 60%;
	}

	.main-program {
		padding: 3rem 0;
	}

	.cards {
		display: flex;
		padding: 1rem 0;
	}

	.card {
		flex-direction: column;
		gap: 1rem;
		justify-items: center;
		padding: 1rem;
		margin: 0.25rem;
	}

	.card-content {
		font-size: 1.1rem;
		text-align: center;
	}

	.feature {
		padding: 3rem 1rem;
	}

	.feature-cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}

	.feture-name {
		font-size: 1.5rem;
	}

	.people-img {
		width: 9rem;
		height: 9rem;
	}

	.btn {
		display: none;
	}

	.client {
		background: var(--dark-bg);
		color: var(--white-color);
		padding: 3rem 0;
	}

	.companies {
		display: flex;
		gap: 2.4rem;
		justify-content: center;
		align-items: center;
	}
	.company {
		width: 12rem;
	}

	.footer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 3rem 0;
		gap: 3rem;
	}

	.footer-content {
		font-size: 1.2rem;
	}
}
